{% extends "common.html" %}

{% block content %}
<h3>Project List</h3>

{% if request.user.employee.designation.project_crud_permission %}
<a href={% url 'project:add-project' %}>Add New Project</a>
{% endif %}

  {% if project_list %}
    <ul>
      {% for project in project_list %}
      <li>
	 <a href="{{ project.get_absolute_url }}">{{ project.name }}</a>
        ({{ project.manager }})
      </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No Projects Created.</p>
  {% endif %}
{% endblock %}
