{% extends "common.html" %}

{% block content %}
<h1>Project: {{ project.name }}</h1>

<p><strong>Manager:</strong>{{ project.manager }}</p>
<p><strong>Folder:</strong> {{ project.project_folder }}</p>
<p><strong>Team:</strong> {{ project.members.all|join:", " }}</p>

{% if request.user.employee.designation.document_crud_permission %}
<p><a href="/document/{{ project.id }}/create-document/">Add Document Record</a></p>
{% endif %}

<h4>Documents</h4>
<div>
<table >
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>User</th>
        <th>Save Count</th>
	<th>Information</th>
      </tr>
    </thead>
    <tbody>
    {% for doc in doc_list %}
      <tr>
        <td><a href="/document/document-detail/{{ doc.id }}">{{ doc.label }}</a></td>
        <td>{{ doc.document_type }}</td>
        <td>{{ doc.document_user }}</td>
        <td>{{ doc.save_count }}</td>
        <td>{{ doc.information }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  </div>

{% endblock %}

