{% extends "common.html" %}

{% block content %}
<h3>Document File Name: {{ documentfile.filename }}</h3>

<p><strong>Central Folder:</strong>{{ documentfile.central_folder }}</p>
<p><strong>Fetch Folder:</strong>{{ documentfile.fetch_folder }}</p>
<p><strong>Access Date:</strong>{{ documentfile.access_date }}</p>
<p><strong>Modified Date:</strong>{{ documentfile.modified_date }}</p>
<p><strong>Due date:</strong>{{ documentfile.due_date }}</p>
<p><strong>Status:</strong>{{ documentfile.get_status_display }}</p>
<p><strong>Version:</strong>{{ documentfile.version }}</p>
<p><strong>Revision:</strong>{{ documentfile.revision }}</p>
<p><strong>Task Comment:</strong>{{ documentfile.task_comment }}</p>
<p><strong>Revison Comment:</strong>{{ documentfile.revision_comment }}</p>

{% endblock %}
