{% extends "common.html" %}

{% block content %}
<div>
<form action="" method="post">
  {% csrf_token %}
  
    {{ form.as_p }}
  
  <input type="submit" value="Get Document List" />
</form>
</div>
 <h4>Documents</h4>
<div>
<table >
    <thead>
      <tr>
        <th>Name </th>
        <th>User </th>
        <th>Save </th>
        <th>Last File </th>
	<th>Created </th>
	<th>Due </th>
	<th>Status</th>
      </tr>
    </thead>
    <tbody>
    {% for doc in doc_file_list %}
      <tr>
        <td><a href="/document/document-detail/{{ doc.id }}">{{ doc.name }}</a> </td>
        <td>{{ doc.user }} </td>
        <td>{{ doc.save }} </td>
        <td><a href="/document/document-file-detail/{{ doc.file_id}}">{{ doc.last_file_name }}</a> </td>
        <td>{{ doc.last_file_created }} </td>
	<td>{{ doc.last_file_due}} </td>
	<td>{{ doc.last_file_status }} </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
